.dark {
	background-color: #e5e5e5;
	opacity: 50%;
	width: 100vw;
	height: 100vh;
	left: 0;
	position: fixed;
}

.editModalContainer {
	width: 44vw;
	height: 78vh;
	margin: 56px 0 0 204px;
	position: fixed;
	border-radius: 14px;
	background-color: var(--dark-0);

	.editTitleContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 20px;

		.buttonTitleWrapper {
			display: flex;
			justify-content: space-between;

			.closeButton {
				cursor: pointer;
				fill: var(--brand-color); //沒有效果
			}

			.modalHeader {
				margin-left: 36px;
			}
		}
	}

	.editModalBackgroundPhoto {
		width: 100%;
		position: relative;

		.backgroundPhoto {
			width: 100%;
		}

		.addAndClose {
			outline: 2px solid green;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #171725;
			opacity: 30%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 195px;
			margin-top: 2px;

			.addPhoto {
				margin-right: 20px;
				background-color: var(--dark-0);
				cursor: pointer;
			}

			.closePhoto {
				margin-left: 20px;
				background-color: var(--dark-0);
				cursor: pointer;
			}
		}
	}

	.editModalAvatar {
		outline: 2px solid var(--dark-30);
		border: 4px solid var(--dark-0);
		width: 140px;
		height: 140px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: absolute;
		top: 181px;
		left: 16px;
	}
	.editModalInfo {
		// outline: 2px solid green;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 32px;
		width: 600px;
		margin: 86px 16px 0 16px;

		.modalHeight {
			// all:unset;
			// outline: 2px solid red;
			height: 147px;
		}
	}
}
