.sidebarContainer {
	width: 178px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.sidebarWrapper {
		margin-top: 13px;
		.sidebarLogo {
			margin: 13px 0 0 13px;
			cursor: pointer;
		}
		.sidebarItemWrapper {
			margin-top: 30px;

			.sidebarItem {
				color: var(--dark-90);
				margin-left: 13px;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 40px;
				position: relative;
				cursor: pointer;
				&:hover {
					color: var(--brand-color);
				}

				.iconContainer {
					.sidebarIcon {
						width: 100%;
						padding-right: 17px;
					}

					// UserIcon與其他icon有一點點差距，因此另外抓出來設定後才有對齊
					.sidebarUserIcon {
						width: 100%;
						padding-right: 20px;
					}
				}
			}
		}
	}

	.logout {
		display: flex;
		margin-left: 20px;
		margin-bottom: 16px;
		color: var(--dark-90);

		.logoutTitle{
			margin-left: 20px;
		}
	}
}
