.sidebarContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.sidebarWrapper {
		display: flex;
		flex-direction: column;
		.sidebarItemWrapper {
			margin: 13px 13px 24px 13px;
			display: flex;
			flex-direction: column;
			gap: 40px;

		}
		.button{
			margin-top: 10px;
		}
	}
	.logout {
		display: flex;
		margin-left: 20px;
		margin-bottom: 16px;
		color: var(--dark-90);
		cursor: pointer;

		.logoutTitle {
			margin-left: 20px;
			color: var(--dark-90);
		}
	}
}
