@import 'src/style/base';

.dark {
	background-color: #e5e5e5;
	opacity: 50%;
	width: 100vw;
	height: 100vh;
	left: 0;
	position: fixed;
}

.tweetModalContainer {
	width: 44vw;
	height: 300px;
	position: fixed;
	margin: 56px 0 0 210px;
	background-color: var(--dark-0);
	border-radius: 14px;
	display: flex;
	flex-direction: column;

	.close {
		position: absolute;
		top: 0;
		left: 0;
		margin: 20px;
		fill: var(--brand-color); //沒有改變
	}

	.textContainer {
		border-top: 1px solid var(--border-color);
		width: 100%;
		height: 80%;
		margin-top: 56px;
		display: flex;
		flex-flow: column wrap;
		// justify-content: space-evenly;
		padding: 8px 20px;
		// position: relative;

		.textWrapper {
			width: 100%;
			height: 80%;
			display: flex;

			.tweetModalAvatar {
				width: 50px;
				height: 50px;
				margin-right: 8px;
			}
			.inputSection {
				width: 100%;

				textarea {
					width: 100%;
					@extend %font-16-regular;
					margin-top: 12px;
					border-color: transparent;
					resize: none;
				}
			}
		}
		.buttonWrapper {
			margin-top: 3px;
			display: flex;
			justify-content: flex-end;

			.hintMessage {
				@extend %font-14-medium;
				color: var(--danger-color);
				align-self: center;
				margin-right: 20px;
			}
		}
	}
}