@import 'src/style/base';

.userProfileHeaderWrapper {
	display: flex;
	padding: 16px 0 16px 28px;
	border-bottom: 1px solid var(--border-color);
	align-items: center;

	.backArrow {
		cursor: pointer;
	}

	.userHeader {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: 20px;

		.header {
			height: 100%;
			font-weight: 700;
			font-size: 18px;
			padding: 0;
			padding-top: 5px;
		}
		.tweets {
			@extend %font-14-medium;
			color: var(--secondary-color);
			line-height: 19px;
		}
	}
}

.userProfileContainer {
	display: flex;
	flex-direction: column;
	position: relative;

	.userProfileBackgroundPhoto {
		width: 100%;
	}

	.userProfileAvatar {
		outline: 2px solid var(--dark-30);
		border: 4px solid var(--dark-0);
		width: 140px;
		height: 140px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: absolute;
		top: 124px;
		left: 16px;
		.avatar {
			border-radius: 50%;
		}
	}

	.userProfileButton {
		align-self: flex-end;
		margin: 15px;

		.otherUserButtons {
			display: flex;
			.messageBox {
				outline: 1px solid var(--brand-color);
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				.messageOutline path {
					fill: var(--brand-color);
				}
				.messageFilled path {
					fill: var(--dark-0);
					background-color: var(--brand-color);
				}
			}
			.messageBoxClicked {
				background-color: var(--brand-color);
			}
			.notiBox {
				outline: 1px solid var(--brand-color);
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin: 0 16px;
				display: flex;
				justify-content: center;
				align-items: center;
				.notiOutline path {
					fill: var(--brand-color);
				}
				.notiFilled path {
					fill: var(--dark-0);
					background-color: var(--brand-color);
				}
			}
			.notiBoxClicked {
				background-color: var(--brand-color);
			}
		}
	}

	.userProfileInfoWrapper {
		margin-left: 16px;

		.userProfileNameWrapper {
			margin-top: 8px;
			display: flex;
			flex-direction: column;

			.userProfileName {
				padding: 3px 0;
			}

			.userProfileSubName {
				@extend %font-14-regular;
				color: var(--secondary-color);
				padding: 2px 0;
			}
		}

		.userProfileIntro {
			margin: 6px 0 8px 0;
			padding: 3px 0;
		}

		.userProfileFollowInfoWrapper {
			display: flex;
			flex-direction: row;

			.userProfileFollowing {
				@extend %font-14-regular;
				padding: 3px 0;
				a {
					color: var(--secondary-color);
				}
			}

			.userProfileFollower {
				margin-left: 20px;
				@extend %font-14-regular;
				padding: 3px 0;

				a {
					color: var(--secondary-color);
				}
			}
		}
	}

	.tabContainer {
		border-bottom: 1px solid var(--border-color);
		margin-top: 31px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.active {
			color: var(--brand-color);
			border-bottom: 2px solid var(--brand-color);
		}
		.tab {
			color: #657786;
		}
	}
}
