.popularListSectionContainer {
	outline: 2px solid blue;
	height: 1200px;

	.popularListSectionWrapper {
		outline: 2px solid red;
		width: 273px;
		height: 731px;
		margin: 16px 0 0 24px;

		.popularListSectionTitle {
			margin: 24px;
		}

    // 暫時container
		.popularListContainer {
			outline: 2px solid green;
			width: 273px;
			height: 656px;
		}
	}
}
