.popularListSectionContainer {
	height: 1200px;

	.popularListSectionWrapper {
		width: 273px;
		height: 731px;
		margin: 16px 0 0 24px;

		.popularListSectionTitle {
			margin: 24px;
		}

    // 暫時container
		.popularListContainer {
			width: 273px;
			height: 656px;
		}
	}
}
