@import 'src/style/base';

.likeListContainer {

	.likeListTitle {
		@extend %font-16-medium;
		width: 130px;
		padding: 15px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid transparent;

	}
}

